<a href="https://colab.research.google.com/github/Ch0k/ML-DZ5/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats 
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
data = pd.read_csv('train.csv')
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
print('Для Survived пустых строк ' + str( len( data[ pd.isnull( data['Survived'] ) ] ) ))
print('Для Pclass пустых строк ' + str( len( data[ pd.isnull( data['Pclass'] ) ] ) ))
print('Для Sex пустых строк ' + str( len( data[ pd.isnull( data['Sex'] ) ] ) ))
print('Для Age пустых строк ' + str( len( data[ pd.isnull( data['Age'] ) ] ) ))
print('Для SibSp пустых строк ' + str( len( data[ pd.isnull( data['SibSp'] ) ] ) ))
print('Для Parch пустых строк ' + str( len( data[ pd.isnull( data['Parch'] ) ] ) ))
print('Для Ticket пустых строк ' + str( len( data[ pd.isnull( data['Ticket'] ) ] ) ))
print('Для Fare пустых строк ' + str( len( data[ pd.isnull( data['Fare'] ) ] ) ))
print('Для Cabin пустых строк ' + str( len( data[ pd.isnull( data['Cabin'] ) ] ) ))
print('Для Embarked пустых строк ' + str( len( data[ pd.isnull( data['Embarked'] ) ] ) ))
print('Всего строк в наборе ' + str( len( data ) ))

Для Survived пустых строк 0
Для Pclass пустых строк 0
Для Sex пустых строк 0
Для Age пустых строк 177
Для SibSp пустых строк 0
Для Parch пустых строк 0
Для Ticket пустых строк 0
Для Fare пустых строк 0
Для Cabin пустых строк 687
Для Embarked пустых строк 2
Всего строк в наборе 891

In [ ]:
data['Ticket'].unique()
data['Ticket'].unique()
data['Ticket'].unique()